swagger: '2.0'
info:
    title: RecipeBlog
    version: 1.0.0
    description: This is a blog for recipes
paths:
    /recipes:
        get:
            tags:
                - recipes
            responses:
                '200':
                    description: Returns a list of recipes
                    schema:
                        type: array
                        items:
                            type: string
                    examples:
                        application/json:
                            - recipe1
                            - recipe2
                            - recipe3
            summary: Get all the recipes in API
            description: Returns all recipes that are registered in API
        post:
            tags:
                - recipes
            parameters:
                -
                    name: body
                    description: The recipe to be created.
                    schema:
                        $ref: '#/definitions/New-Recipe'
                    in: body
                    required: true
            responses:
                '201':
                    description: Send 201 when recipe is successfully added to the database.
                    schema:
                        $ref: '#/definitions/New-Recipe'
                '400':
                    description: Missing some parameter. Title and content are required.
                    schema:
                        $ref: '#/definitions/Error'
            summary: Create a new recipe into the app
            description: Creates a new recipe instance with its required details for further usage.
    '/recipes/{RecipeID}':
        get:
            tags:
                - recipes
            responses:
                '200':
                    description: Returns all details of the given recipe.
                    schema:
                        type: array
                        items:
                            type: string
                    examples:
                        application/json:
                            RecipeID: 5fa725fd-cec3-11f0-b43f-901b0eec5991
                            Title: TestRecipe
                            Content: For testing
                            createdAt: '2025-12-01T16:37:08.000Z'
                            updatedAt: '2025-12-01T16:37:08.000Z'
                '404':
                    description: Returns error when recipe not found.
                    schema:
                        $ref: '#/definitions/Error'
            operationId: RecipeID
            summary: Get full detail of a recipe
            description: Will return all details of a given recipe based on RecipeID given.
definitions:
    Error:
        title: Root Type for Error
        description: ''
        type: object
        properties:
            error:
                type: string
        example:
            error: Error message
    New-Recipe:
        title: Root Type for New-Recipe
        description: ''
        required:
            - Content
            - Title
        type: object
        properties:
            Title:
                type: string
            Content:
                type: string
            Image:
                type: string
        example:
            Title: NewRecipeTitle
            Content: NewRecipeContent
            Image: NewRecipeImage
